body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 90%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.part {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blck {
    display: block;
    padding: 20px;
}

.blck a {
    text-decoration: none;
    color: goldenrod;
}

.inp, .inp::placeholder {
    height: 1.5em;
    width: 18em;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 8px;
    border-radius: 6px;
    font-size: 1.1em;
    transition: 0.5s;
    color: goldenrod;
    border: none;
}

.inp:hover {
    transform: scale(1.1);
}

button {
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: goldenrod;
    text-align: center;
    font-size: 1em;
    padding: 6px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    border-radius: 6px;
}

button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

button:hover:after {
    opacity: 1;
    right: 10px;
}

@media only screen and (min-width:1px) and (max-width:280px) {
    .content {
        position: absolute;
        bottom: 0;
        color: #f1f1f1;
        width: 90%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .part {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .blck {
        display: block;
        padding: 2px;
    }
    
    .blck a {
        text-decoration: none;
        color: goldenrod;
    }
    
    .inp, .inp::placeholder {
        height: 1.5em;
        width: 18em;
        border: none;
        padding: 8px;
        border-radius: 6px;
        font-size: 1.5em;
        color: goldenrod;
        transition: 0.5s;
    }
    
    .inp:hover {
        transform: scale(1.1);
    }
    
    button {
        border-radius: 4px;
        background-color: transparent;
        border: none;
        color: goldenrod;
        text-align: center;
        font-size: 2em;
        padding: 3px;
        width: 110px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 12px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
        border-radius: 6px;
    }
    
    
    button:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 18px;
        right: -20px;
        transition: 0.5s;
    }
    
    button:hover {
        padding-right: 24px;
        padding-left: 8px;
    }
    
    button:hover:after {
        opacity: 1;
        right: 10px;
    }
}

@media only screen and (min-width:281px) and (max-width:800px) {
    .content {
        position: absolute;
        bottom: 0;
        color: #f1f1f1;
        width: 90%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .part {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 70px;
    }
    
    .blck {
        display: block;
        padding: 4px;
    }
    
    .blck a {
        text-decoration: none;
        color: goldenrod;
    }
    
    .inp, .inp::placeholder {
        height: 1.5em;
        width: 28em;
        background-color: rgba(0, 0, 0, 0.281);
        border: none;
        padding: 8px;
        border-radius: 6px;
        font-size: 1.9em;
        color: goldenrod;
        transition: 0.5s;
    }
    
    .inp:hover {
        transform: scale(1.1);
    }
    
    button {
        border-radius: 4px;
        background-color: transparent;
        border: none;
        color: goldenrod;
        text-align: center;
        font-size: 3.5em;
        padding: 6px;
        width: 110px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 8px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
        border-radius: 6px;
    }
    
    
    button:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 14px;
        right: -20px;
        transition: 0.5s;
    }
    
    button:hover {
        padding-right: 24px;
        padding-left: 8px;
    }
    
    button:hover:after {
        opacity: 1;
        right: 10px;
    }
}

@media only screen and (min-width:801px) and (max-width:1200px) {
    .content {
        position: absolute;
        bottom: 0;
        color: #f1f1f1;
        width: 90%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .part {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 120px;
    }
    
    .blck {
        display: block;
        padding: 4px;
    }
    
    .blck a {
        text-decoration: none;
        color: goldenrod;
    }
    
    .inp, .inp::placeholder {
        height: 2.5em;
        width: 28em;
        background-color: rgba(0, 0, 0, 0.281);
        border: none;
        padding: 8px;
        border-radius: 6px;
        font-size: 2.1em;
        color: goldenrod;
        transition: 0.5s;
    }
    
    .inp:hover {
        transform: scale(1.1);
    }
    
    button {
        border-radius: 4px;
        background-color: transparent;
        border: none;
        color: goldenrod;
        text-align: center;
        font-size: 2.5em;
        padding: 6px;
        width: 110px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 8px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
        border-radius: 6px;
    }
    
    
    button:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 14px;
        right: -20px;
        transition: 0.5s;
    }
    
    button:hover {
        padding-right: 24px;
        padding-left: 8px;
    }
    
    button:hover:after {
        opacity: 1;
        right: 10px;
    }
}

@media only screen and (min-width:1201px) and (max-width:1800px) {
    .content {
        position: absolute;
        bottom: 0;
        color: #f1f1f1;
        width: 90%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .part {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 290px;
    }
    
    .blck {
        display: block;
        padding: 4px;
    }
    
    .blck a {
        text-decoration: none;
        color: goldenrod;
    }
    
    .inp, .inp::placeholder {
        height: 2.5em;
        width: 28em;
        background-color: rgba(0, 0, 0, 0.281);
        border: none;
        padding: 8px;
        border-radius: 6px;
        font-size: 1.8em;
        color: goldenrod;
        transition: 0.5s;
    }
    
    .inp:hover {
        transform: scale(1.1);
    }
    
    button {
        border-radius: 4px;
        background-color: transparent;
        border: none;
        color: goldenrod;
        text-align: center;
        font-size: 3em;
        padding: 6px;
        width: 110px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 8px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
        border-radius: 6px;
    }
    
    
    button:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 14px;
        right: -20px;
        transition: 0.5s;
    }
    
    button:hover {
        padding-right: 24px;
        padding-left: 8px;
    }
    
    button:hover:after {
        opacity: 1;
        right: 10px;
    }
}

@media only screen and (min-width:1801px) and (max-width:4000px) {
    .content {
        position: absolute;
        bottom: 0;
        color: #f1f1f1;
        width: 90%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .part {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 390px;
    }
    
    .blck {
        display: block;
        padding: 4px;
    }
    
    .blck a {
        text-decoration: none;
        color: goldenrod;
    }
    
    .inp, .inp::placeholder {
        height: 1.5em;
        width: 28em;
        background-color: rgba(0, 0, 0, 0.281);
        border: none;
        padding: 8px;
        border-radius: 6px;
        font-size: 1.1em;
        color: goldenrod;
        transition: 0.5s;
    }
    
    .inp:hover {
        transform: scale(1.1);
    }
    
    button {
        border-radius: 4px;
        background-color: transparent;
        border: none;
        color: goldenrod;
        text-align: center;
        font-size: 1em;
        padding: 6px;
        width: 110px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 8px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
        border-radius: 6px;
    }
    
    
    button:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 14px;
        right: -20px;
        transition: 0.5s;
    }
    
    button:hover {
        padding-right: 24px;
        padding-left: 8px;
    }
    
    button:hover:after {
        opacity: 1;
        right: 10px;
    }
}