body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(44, 44, 44);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.521);
}

.sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}

hr {
    border: 1px solid goldenrod;
    width: 100%;
    margin: 60px 0;
}

.sec-heading-title {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    color: goldenrod;
}

.sec-div-heading {
    font-size: 1.7em;
    font-weight: 400;
    color: goldenrod;
}

.sec-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
}

.sec-div {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: space-evenly;
    transition: 0.5s;
}

.sec-div:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 30px rgb(7, 7, 7);
}

.sec-div-a {
    text-align: center;
    text-decoration: none;
    color: goldenrod;
    padding: 10px;
}

.sec-p {
    padding: 0 20px;
    color: goldenrod;
}

.sec-div img {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    object-fit: cover;
}

/*accessories-------------
-------------------------- */

.sec-grid-accessories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.sec-div-accessories {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* box-shadow: 10px 10px 30px rgb(7, 7, 7); */
    border-radius: 8px;
    transition: 0.5s;
}

.sec-div-accessories img {
    width: 100%;
    height: 150px;
    border-radius: 7px;
    object-fit: cover;
}

.sec-div-accessories-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.sec-div-a-accessories {
    text-decoration: none;
    color: goldenrod;
}

.sec-p-accessories {
    color: goldenrod;
    font-size: 0.9em;
}

/*-----------------------
fashion from home html 
-------------------------*/

.sec2bg {
    background: url(img/lan-deng-quddu_dZKkQ-unsplash.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
    margin-top: 160px;
}

.half_w {
    width: 50%;
}

#hwid {
    display: flex;
    font-size: 5em;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    border-radius: 7px;
}

#hwid:hover {
    background-color: rgba(0, 0, 0, 0.527);
}

#hwid, #hwp {
    color: rgb(175, 76, 76);
    padding: 0 20px;
}

#hwp {
    font-size: 1.2em;
    align-items: flex-start;
    transition: 0.2s;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.527);
}

/* ---------------
cloths 
-----------------*/

.sec-div-cl {
    margin: 80px 40px;
}

.fm-c {
    display: flex;
}

.c-hw {
    width: 50%;
    margin-right: 20px;
}

.c-hw img {
    width: 100%;
    border-radius: 8px;
}

.c-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.c-part {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.c-part:hover {
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 7px;
}

.c-part:hover>h3 {
    transform: scale(1.3);
    transition: 0.5s;
}

.c-part img {
    width: 30%;
    height: 200px;
    margin-right: 20px;
    object-fit: cover;
}

.c-part h3 {
    color: goldenrod;
    font-weight: 400;
}

@media only screen and (min-width:1px) and (max-width:400px) {

    .sec-heading-title {
        text-align: center;
        font-size: 1.1em;
        font-weight: 500;
        color: goldenrod;
    }

    .sec-div-heading {
        font-size: 1em;
        font-weight: 300;
        color: goldenrod;
    }

    .sec-div img {
        height: 100%;
    }

    .sec-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3em;
    }

    .sec-div {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        justify-content: space-evenly;
        transition: 0.5s;
    }

    .sec-div:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 30px rgb(7, 7, 7);
    }

    /* accessories */

    .sec-grid-accessories {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }

    .sec-div-accessories img {
        width: 100%;
        height: 80px;
    }

    /* cloths */

    .c-part img {
        width: 30%;
        height: 70px;
        margin-right: 20px;
    }

    .c-part h3 {
        color: goldenrod;
        font-weight: 400;
        font-size: 10px;
    }
}

@media only screen and (min-width:401px) and (max-width:600px) {

    .sec-heading-title {
        text-align: center;
        font-size: 1.3em;
        font-weight: 600;
        color: goldenrod;
    }

    .sec-div-heading {
        font-size: 1em;
        font-weight: 400;
        color: goldenrod;
    }

    .sec-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em;
    }

    .sec-div {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        justify-content: space-evenly;
        transition: 0.5s;
    }

    .sec-div:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 30px rgb(7, 7, 7);
    }

    .sec-div img {
        width: 100%;
        height: 100px;
    }

    /* accessories */

    .sec-grid-accessories {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }

    .sec-div-accessories img {
        width: 100%;
        height: 80px;
    }

    /* cloths */

    .c-part img {
        width: 30%;
        height: 50px;
        margin-right: 20px;
    }

    .c-part h3 {
        color: goldenrod;
        font-weight: 400;
        font-size: 15px;
    }
}

@media only screen and (min-width:601px) and (max-width:1249px) {

    .sec-heading-title {
        text-align: center;
        font-size: 1.3em;
        font-weight: 600;
        color: goldenrod;
    }

    .sec-div-heading {
        font-size: 1em;
        font-weight: 400;
        color: goldenrod;
    }

    .sec-div img {
        width: 100%;
        height: 200px;
    }

    .sec-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em;
    }

    .sec-div {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        justify-content: space-evenly;
        transition: 0.5s;
    }

    .sec-div:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 30px rgb(7, 7, 7);
    }

    /* accessories */

    .sec-grid-accessories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }

    .sec-div-accessories img {
        width: 100%;
        height: 60px;
    }

    /* cloths */

    .c-part img {
        width: 30%;
        height: 70px;
        margin-right: 20px;
    }

    .c-part h3 {
        color: goldenrod;
        font-weight: 400;
        font-size: 15px;
    }
}

@media only screen and (min-width:1px) and (max-width:400px) {

    #hwid {
        display: flex;
        font-size: 10px;
        align-items: center;
        justify-content: center;
    }

    #hwid, #hwp {
        color: goldenrod;
        padding: 0 20px;
    }

    #hwp {
        font-size: 5px;
        align-items: flex-start;
    }

    .sec3half_w {
        width: 50%;
        margin: 20px 10px;
        color: rgb(44, 44, 44);
        font-weight: 600;
        font-size: 8px;
    }

    .sec3half_w img {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width:401px) and (max-width:700px) {

    #hwid {
        display: flex;
        font-size: 13px;
        align-items: center;
        justify-content: center;
    }

    #hwid, #hwp {
        color: goldenrod;
        padding: 0 20px;
    }

    #hwp {
        font-size: 8px;
        align-items: flex-start;
    }

    .sec3half_w {
        width: 50%;
        margin: 20px 10px;
        color: rgb(44, 44, 44);
        font-weight: 600;
        font-size: 10px;
    }

    .sec3half_w img {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width:701px) and (max-width:1500px) {

    #hwid {
        display: flex;
        font-size: 50px;
        align-items: center;
        justify-content: center;
    }

    #hwid, #hwp {
        color: goldenrod;
        padding: 0 20px;
    }

    #hwp {
        font-size: 12px;
        align-items: flex-start;
    }
    .sec3half_w {
        width: 50%;
        margin: 20px 10px;
        color: rgb(44, 44, 44);
        font-weight: 600;
        font-size: 15px;
    }

    .sec3half_w img {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width:1501px) {

    #hwid {
        display: flex;
        font-size: 60px;
        align-items: center;
        justify-content: center;
    }

    #hwid, #hwp {
        color: goldenrod;
        padding: 20px;
    }

    #hwp {
        font-size: 22px;
        align-items: flex-start;
    }
    .sec3half_w {
        width: 50%;
        margin: 20px 10px;
        color: rgb(44, 44, 44);
        font-weight: 600;
        font-size: 30px;
    }

    .sec3half_w img {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}